[Unit]
Description=ModShark
Documentation=https://github.com/warriordog/ModShark

After=network.target
After=postgresql.service
Wants=postgresql.service

[Service]
Type=simple
User=modshark
ExecStart=dotnet /home/modshark/ModShark/ModShark.dll
WorkingDirectory=/home/modshark/Modshark
TimeoutSec=60
StandardOutput=journal
StandardError=journal
SyslogIdentifier="modshark"
Restart=always

[Install]
WantedBy=multi-user.target
